*.htaccess
*.lnk
*.log
*.swp
prueba.php
index2.php
sa-defines.php
config.php
wp-config.php
index.html
index2.html
bower_components/
node_modules/
include/class/
public/css/dev/
public/css/prod/
public/js/dev/
public/js/prod/
intranet/
moodledata/
wp-content/uploads/
stylus/
noticias/
*.zip

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/